:root {
    --primary-color: #a4a77a;
    --secondary-color: #E9DFCD;
    --dark-color: #414042;
    --light-color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondary-color);
    margin: 0 auto;
}

/* this wrapper styling will give all divs with wrapper class a margin on left and right*/
.wrapper {
    display: block;
    max-width: 1200px;
    margin: auto;
}

/*******************************************
            NAVIGATION STYLING              
******************************************* */

.main-nav {
    background-color: var(--primary-color);
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: large;
}

li a:hover {
    background-color: #E9DFCD;
    color: var(--dark-color);
}


.image-banner {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;

}

/* ****************************
        BUTTON STYLING 
*******************************/

/* button {
    transition: all 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.3);
} */

/* *************************************
        HOME PAGE HEADER STYLING 
****************************************/

.image-banner img {
    width: 100%;
    height: auto;
}

.text-header {
    color: var(--dark-color);
    text-align: center;
    font-size: x-large;
}

.content-cards-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px;
    background-color: #a4a77a;
    padding-bottom: 40px;
    flex: 1;
}


.about-card-img {
    width: 100%; 
}

.about-card-img img {
    width: 100%;
    height: auto;
}

.about-card-text {
    text-align: center;
    color: var(--light-color);
    margin-bottom: 20px;
}

.about-card-header {
    color: var(--light-color);
}

.button {
    background-color: var(--dark-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}


.contact-card-img {
    width: 100%;
}

.contact-card-img img {
    width: 100%;
    height: auto;
}

.contact-card-header {
    color: var(--light-color);
}

.contact-card-text {
    text-align: center;
    color: var(--light-color);
    margin-bottom: 20px;
}


/* **********************************
            DESKTOP STYLING
 *************************************/

@media screen and (min-width: 760px) {
    .content-cards-outer {
        flex-direction: row;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        flex-grow: 1;
    }

    ul {
        display: flex;
        justify-content: flex-end;
    }

    .image-banner img {
        margin-top: -150px;
        margin-bottom: -150px;
      }


}


/* ***********************************
            FOOTER STYLING 
**************************************/

footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--light-color);
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px;
    height: auto;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
